@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body{
    font-family: 'Questrial', sans-serif;
}

.contenedor{
    padding-right: 15%;
    padding-left: 15%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
    padding-bottom: 0%;
    margin-top: auto;
    margin-bottom: auto;
}

.addressCard{
    padding: 3% 5%;
    border: 1px solid rgb(150, 135, 135);
    border-radius: 1px;
}

.addressTitle{
    border-bottom: 3px solid #000;
}

.aTitle{
    margin: 10px 0;
    letter-spacing: 1px;
}

.cardContainerAddress{
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 50px;
    background-color: #000;
}

.fa{
    color: white;
}

.formGroup{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formGroup1{
    display: flex;
    width: 100%;
}

.formInput{
    height: 30px;
    border: 1px solid rgb(150, 135, 135);
    width: 100%;
    padding-left: 10px;
    font-family: 'Questrial', sans-serif;
    /* letter-spacing: 1px */
    outline: none;
}

.formInputInvalid{
  height: 30px;
  border: 1px solid red;
  width: 100%;
  padding-left: 10px;
  font-family: 'Questrial', sans-serif;
  /* letter-spacing: 1px */
    outline: none;
}

button:disabled{
  background-color: rgb(124, 122, 122);
  cursor: context-menu;
}
.selectHeight{
    height: 34px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:  rgb(150, 135, 135);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:  rgb(150, 135, 135);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color:  rgb(150, 135, 135);
  }

  .selectFirstOption{
    color:  rgb(150, 135, 135);
  }

  span{
      width: 20px;
  }

  button{
      height: 30px;
      background-color: #000;
      color: white;
      border: 1px solid #000;
      cursor: pointer;
      margin-top: 10px;
  }

  .buttonText{
    font-family: 'Questrial', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: auto;
    padding-bottom: auto;
    letter-spacing: 1px;
    font-weight: 300;
  }
  
  .checkText{
      color:rgb(150, 135, 135);
      display: flex;
      align-items: center;
      letter-spacing: 0px !important;
  }
  .checkInput {
    width: 100%;
    position: relative;
    margin: 20px auto;
    display: flex;
  }
  .checkInput label {
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    background: white;
    border: 1px solid rgb(150, 135, 135);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  }
  .checkInput label:after {
    content: "";
    width: 7px;
    height: 3px;
    position: absolute;
    top: 3px;
    left: 3px;
    border: 2px solid red;
    border-top: none;
    border-right: none;
    background: transparent;
    /* opacity: 0; */
    display: none;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .checkInput label:hover::after {
    opacity: 0.5;
  }
  .checkInput input[type="checkbox"] {
    visibility: hidden;
  }
  .checkInput input[type="checkbox"]:checked + label:after {
    display: block;
  }
  

  @media (max-width: 800px) {
    .formGroup {
      display: unset;
    }

    .formGroup1{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cardContainerAddress{
        padding-right: 0%;
        padding-left: 0%;
    }
  }
